/* Instellingen tussen commentaar zijn handig om fouten te helpen vinden, uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   letop 1: dit kan de layout soms kan wijzigen 
   letop 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {border: 1px dotted black;}   */
  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

* {                                        /* geldt voor alles */
  box-sizing: border-box;                  /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                             /* standaard marge 0 */
}

.mg  {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #ff3287;    /* achtergrondkleur lichtgrijs */
  color: #ffffff;
  font-size: 18px;               /* tekstkleur donkergrijs */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.wamg  {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
 
  font-size: 18px;               /* tekstkleur donkergrijs */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.h  {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */

  font-size: 18px;               /* tekstkleur donkergrijs */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.e  {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  
  font-size: 18px;               /* tekstkleur donkergrijs */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

.r  {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  
  font-size: 18px;               /* tekstkleur donkergrijs */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat DIV de hoogte krijgt van wat erin zit (anders tellen de floats erin niet mee voor de hoogte en wordt dus wel eens hoogte 0) */
}

/* Indeling voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 10 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {

  text-align: justify;            /* tekst links en rechts uitvullen */
}

img {
  margin: 10px 0px;
}

/* Indeling voor hoofd pagina */

/* .item {} */ /* hier doen we nog niks mee, dat mag je zelf toevoegen */

.item-plaatje {
  float:left;
  width:250px;
  padding-right: 15px; /* zorgt dat plaatje niet tegen tekst komt */
}
.item-tekst {
  padding: 15px;
}

/* Indeling voor sub pagina */

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: #faeff2;
}



h1.magical {
  
  color: #faeff2;
}

h1.what {

  color: #faf4ef;
}

h1.history {

  color: #ffffff;
}

h1.examples {

  color: #effaf6;
}

h1.reccomandations {

  color: rgb(238, 242, 255)af6;
}

h1 {
  font-family: cursive;
  font-size: 3em;

}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
   
    color: #faeff2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Opmaak voor sub pagina's */

/* Navigatiebalk voor alle pagina's */


nav.magical {

}

nav ul {
    list-style-type: none;
    margin:  auto;
    padding: 0;
    background-color: #ff9dba;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
      color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.magical ul {
      background-color: #ff9dba;
     }

nav.magical {
  background-color: #ff9dba;
  color: #faeff2;
}

nav li a.link {
  text-decoration: none;
}
nav.magical li a.visited {
  text-decoration: none;
}
nav.magical li a:hover {
    color: #ff9dba;
    background-color: #faeff2;
    text-decoration: none;
}

nav.magical li a.active {
    color: #ff9dba;
    background-color: #faeff2;
    text-decoration: none;
}

nav.history ul {
  background-color: #ffe877;
 }

nav.history {
  background-color: #ffe877;
  color: #ffffff;
}

nav li a.link {
  text-decoration: none;
}
nav.history li a.visited {
  text-decoration: none;
}
nav.history li a:hover {
    color: #ffe877;
    background-color: #ffffff;
    text-decoration: none;
}

nav.history li a.active {
    color: #ffe877;
    background-color: #ffffff;
    text-decoration: none;
}

nav.what ul {
  background-color: #ffc88d;
 }

nav.what {
  background-color: #ffc88d;
  color: #faf4ef;
}

nav li a.link {
  text-decoration: none;
}
nav.what li a.visited {
  text-decoration: none;
}
nav.what li a:hover {
    color: #ffc88d;
    background-color: #faf4ef;
    text-decoration: none;
}

nav.what li a.active {
    color: #ffc88d;
    background-color: #faf4ef;
    text-decoration: none;
}

nav.examples ul {
  background-color: #85ffb6;
 }

nav.examples {
  background-color: #85ffb6;
  color: #effaf6;
}

nav li a.link {
  text-decoration: none;
}
nav.examples li a.visited {
  text-decoration: none;
}
nav.examples li a:hover {
    color: #85ffb6;
    background-color: #effaf6;
    text-decoration: none;
}

nav.examples li a.active {
    color: #85ffb6;
    background-color: #effaf6;
    text-decoration: none;
}

nav.reccomendations ul {
  background-color: #85b2ff;
 }

nav.reccomendations {
  background-color: #85b2ff;
  color: #eff1fa;
}

nav li a.link {
  text-decoration: none;
}
nav.reccomendations li a.visited {
  text-decoration: none;
}
nav.reccomendations li a:hover {
    color: #85b2ff;
    background-color: #eff1fa;
    text-decoration: none;
}

nav.reccomendations li a.active {
    color: #85b2ff;
    background-color:#eff1fa;
    text-decoration: none;
}

nav {
  margin-bottom: 2em;
  font-size: 1.1em;
  font-family: fantasy;
  
}

.item {
  background-color: #ff9dba;
}

.item2 {
  background-color: #ffc88d;
}

.item3 {
  background-color: #ffe877;
}

.item4 {
  background-color: #85ffb6;
}

.item5 {
  background-color: #85b2ff;
}

.wamg {
  background-color: #ffa909;
  color: #ffffff
}

.h {
  background-color: #fbd100;
  color: #ffffff
}

.e {
  background-color: #2fe57b;
  color: #ffffff
}

.r {
  background-color: #577ff8;
  color: #ffffff
}